/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    background: linear-gradient(to right, rgb(103, 6, 6), black);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Section */
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style pour les titres de section */
h1 {
    color: #4e0404;
}
h2 {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

h3 {
    color: #555;
}

/* Code */
pre {
    background-color: #f4f4f4;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Boutons */
.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    background-color: rgb(107, 12, 12);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: darkred;
}

/* Footer */
footer {
    background: linear-gradient(to right, rgb(103, 6, 6), black);
    color: white;
    text-align: bottom;
    padding: 10px;
    margin-top: 250px;
}

/* Responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .buttons {
        flex-direction: column;
    }

    .btn {
        width: 100%;
        margin: 10px 0;
    }
}
